* {
    text-align: center;
    background-color: yellow;
}

h1 {
    font-size: 60px;
    font-family: arial;
    position: relative;
    top: 100px
}

a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: relative;
    top: 220px;
    margin: 10px;
    padding: 10px;
    background-color: transparent !important;
}

