* {
    text-align: center;
}

.container {
    width: 500px;
    height: 400px;
    margin: auto;
    border: 3px black solid
}

.ayam {
    width: 100px;
    height: 150px;
    position: relative;
    float: left;
}
.ayam::after {
    content: '';
    display: block;
    width: 100px;
    height: 150px;
    background: url(../img/ayam.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    top: -70px;
}

.telur {
    width: 100%;
    height: 100%;
    background: url(../img/telur.png) bottom center no-repeat;
    background-size: 15%;
    position: absolute;
    top: -70px;
}

.ayam.jatuh .telur {
    top: 160px;
    transition: 1000ms;
} 